@model PaginatedList<ClientApps.Entities.Customer>
@{
    ViewData["Title"] = "Customer";
    var prevDisabled = Model.PreviousPage == null ? "disabled" : "";
    var nextDisabled = Model.NextPage == null ? "disabled" : "";
    var rowSL = (((Model.PageNumber * Model.PageSize) - Model.PageSize) + 1);

}

<h1>Customer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("SL#")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().Contact)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data.Select((value, index) => new { value, index }))
        {
            <tr>
                <td> @(rowSL++) </td>
                <td> @Html.DisplayFor(modelItem => item.value.Name) </td>
                <td> @Html.DisplayFor(modelItem => item.value.Email) </td>
                <td> @Html.DisplayFor(modelItem => item.value.Contact) </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-controller="Customer" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" class="page-link">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            int pageCount = 0;
            for (var i = Model.PageNumber; i <= Model.TotalPages; i++)
            {
                pageCount++;
                if (pageCount == 11)
                    break;
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a asp-controller="Customer" asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a>
                </li>
            }
        }
        <li class="page-item @nextDisabled">
            <a asp-controller="Customer" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" class="page-link ">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>